body {
	background: #fafaf0;
}



header h1.topheader{
	text-align: center;
}
.ch-app-canvas-wrapper-fr {

}

.ch-app-canvas-wrapper-fr header h1{
	text-align: center;
}

.ch-app-canvas-wrapper-im {
	margin: 0 auto;
	width: 500px;
	height: 500px;
}
.ch-app-big-canvas {
	background: #f9f9f9;
	box-shadow: 2px 2px 2px #DDD;
	padding: 15px;
	background:rgba(0,0,0,.4);
	filter: alpha(opacity=40);
	-webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
    -ms-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
}

.cha-side-box {
	background: #000;
	padding: 7px;
	width: 300px;
  	height: 100%;
  	left: 0;
}

.affix {
  top: 0;
  left: 0;
  
}

@media (min-width: 1200px) {
  .affix {
    width: 263px;
  }         
}

aside header {
	background: #fff;
	padding:5px;
	text-align: center;
}

aside header h1{
	font-size: 14px;
}
.control-label {
	font-size: 9px;
	color:#fcfcfc;
}

form {
	margin-top: 20px;
}

.input-form {
	background: #f9f9f9;
	padding: 10px;
}
.upload-form {
	background: #fafafa;
	padding: 10px;
}



button {
	padding:1.0em !important;
	color:#fff !important;
	border:2px solid #fff !important;
	background:transparent !important;
	display:block;
	}
button:hover {
	background:#075265 !important;
	border:2px solid #075265 !important;
	}